# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea

*/__pycache__
__pycache__
*.pyc
*.pdf
.pytest_cache
*tensorboard*
.env
log.txt
# experiment files
experiments/results/**/voe
experiments/results/**/voe_bkup
/data/hri_data/noise/pred_chull_viz/qpos/episode_1/
**/log/
